<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title>ItemsAPI starter</title>
<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
{#<link href="assets/jumbotron.css" rel="stylesheet">#}
<link href="/assets/navbar.css" rel="stylesheet">
<link href="/assets/prism.css" rel="stylesheet" />
<link href="/assets/custom.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img style="float: left; margin-right:10px; height: 25px;" src="{{ logo }}" />{{ title }}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">Home</a></li>
        {#<li><a href="/api">API</a></li>#}
        {#<li><a href="#">Documentation</a></li>#}
      </ul>
    </div>
  </div>
</nav>


<div class="container">

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

  <footer class="text-center">
    <p>System powered by <a href="https://www.itemsapi.com">ItemsAPI</a>. Code licensed under Apache 2.0 | © 2015-2016 </p>
  </footer>

</div>


<script src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
<script src="/libs/lodash/dist/lodash.min.js"></script>
<script src="/libs/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>
<script src="/libs/urijs/src/URI.min.js"></script>
<script src="/assets/script.js"></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js'></script>
</body>
</html>
