{% extends "layout.html.twig" %}

{% block content %}

<div class="container">
  <div class="row">

    <h2 class="uppercase"><strong> <i class="icon-briefcase"></i>API</strong></h2>
    <div class="row">

      <div class="col-sm-12">
        The engine of this website is built on <a href="https://www.itemsapi.com">ItemsAPI</a>.
        <br />
        We will add here more interactive examples of API which you can use for your mobile app etc
      </div>

    </div>
  </div>
</div>
{% endblock %}
